md-toolbar.site-content-toolbar.md-whiteframe-2dp
	.md-toolbar-tools
		md-button.md-icon-button(ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Toggle Menu")
			md-icon(md-font-icon="icon-bars")
		div.fill-height(flex)
			h2.md-headline Categories
md-content(layout="column" layout-padding md-scroll-y flex)
	p This is where you manage categories(create, update, delete, view)

	form(name="categoryForm" ng-submit="category.add()")
		div(layout="row")
			md-input-container
				label Name
				input(ng-model="category.name" name="name" required)
				div(ng-messages="categoryForm.name.$error")
					div(ng-message="required") Name is required.
			md-input-container
				label Description
				input(ng-model="category.description" name="description" required)
				div(ng-messages="categoryForm.description.$error")
					div(ng-message="required") Description is required.

			md-button.md-raised.md-primary(type="submit" ng-disabled="categoryForm.$invalid") Add

	md-toolbar.md-table-toolbar.md-default(ng-hide='options.rowSelection && selected.length')
		.md-toolbar-tools.docs-toolbar-tools
			span Categories
			div(flex)
			md-button(ng-click='loadStuff()') Async Operation
	md-toolbar.md-table-toolbar.alternate(ng-show='options.rowSelection && selected.length')
		.md-toolbar-tools
			span {{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected
	// exact table from live demo
	md-table-container
		table(md-table md-row-select='options.rowSelection' ng-model='selected' md-progress='promise')
			thead(md-head md-order='query.order' md-on-reorder='onReorder')
				tr(md-row)
					th(md-column) No.
					th(md-column md-order-by='name')
						span Name
					th(md-column md-order-by='description')
						span Description
					th(md-column)
						span Action
			tbody(md-body)
				tr(md-row md-select='category' md-select-id='{{category.id}}' ng-repeat='category in categories.data')
					td(md-cell) {{$index + 1}})
					td(md-cell) {{category.name}}
					td(md-cell) {{category.description}}
					td(md-cell)
						md-button.md-icon-button
							md-icon(ng-click='doSecondaryAction($event)', aria-label='Delete', md-font-icon='icon-trash')
	md-table-pagination(md-limit='query.limit' md-options='limits' md-page='query.page' md-total='{{categories.count}}' md-page-select='options.pageSelector' md-boundary-links='options.boundaryLinks' md-on-paginate='onPaginate')


//- 	# name: "string"
//- #     description: "string"
//- #     expenses:
//- #       collection: "expense"
//- #       via: "category"