@import "colors";

// html {
//   background-color: $gray;
//   color: $dark-blue;
//   padding: 0px;
//   margin: 0px;
//   width: 100%;
//   height: 100%;
//   body {
//     width: 100%;
//     height: 100%;
//     padding: 0px;
//     margin: 0px;
//     $aside-width: 60px;
//     & > section {
//       position: absolute;
//       left: $aside-width;
//       right: 0px;
//       top: 0px;
//       bottom: 0px;
//       background: $white-blue;
//       overflow-x: hidden;
//       overflow-y: auto;
//     }
//     & > aside {
//       position: absolute;
//       left: 0px;
//       top: 0px;
//       height: 100%;
//       width: $aside-width;
//       box-shadow: rgba($dark-blue, 0.4) 2px 0px 5px;
//       background-color: $blue;
//       ul {
//         padding: 0px;
//         margin: 0px;
//         width: inherit;
//         height: auto;
//         padding-top: 58px;
//         li {
//           text-align: center;
//           height: $aside-width;
//           line-height: $aside-width + 6px;
//           color: white;
//           font-size: 1.5em;
//           cursor: pointer;
//           transition: all 0.2s linear;
//           a {
//             display: inline-block;
//             width: 100%;
//             color: white !important;
//             padding: 0px;
//             margin: 0px;
//             line-height: $aside-width + 6px;
//           }
//           &:hover {
//             background: $blue * 1.2;
//           }
//           &.active {
//             background: $dark-blue;
//             border-top: $blue * 1.4 2px solid;
//             border-bottom: $blue * 1.4 2px solid;
//           }
//         }
//         &.down {
//           padding-top: 0px;
//           position: absolute;
//           bottom: 0px;
//         }
//       }
//     }
//   }
// }

.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}

// .docs-toolbar-tools .md-button md-icon {
//   color: #666 !important;
//   fill: #666 !important;
// }

// .site-sidenav {
//   width: 272px;
//   min-width: 272px;
//   max-width: 272px;
//   background: #106CC8;
// }

span {
  font-size: small;
}


/************
 * DOCS MENU
 ************/
// .site-sidenav {
//   background: #106CC8;
// }
.site-sidenav md-content {
  background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     200px; 
  min-width: 200px; 
  max-width: 200px; 
}
.site-sidenav > * {
  min-width: 160px; 
}

// .docs-menu .md-button {
//   border-radius: 0;
//   // color: white;
//   cursor: pointer;
//   display: block;
//   align-items: inherit;
//   line-height: 40px;
//   margin: 0;
//   max-height: 40px;
//   overflow: hidden;
//   padding: 0px 16px;
//   text-align: left;
//   text-decoration: none;
//   white-space: normal;
//   width: 100%;
// }

.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: rgba(158,158,158,0.2) !important;
}
// .docs-menu .md-button md-icon {
//   color: white;
// }

.docs-menu .md-button.active {
  background: rgba(158,158,158,0.2);
}

td strong {
  padding: 0 56px 0 0;
}

