md-toolbar.site-content-toolbar.md-whiteframe-2dp
	.md-toolbar-tools
		md-button.md-icon-button(ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Toggle Menu")
			md-icon(md-font-icon="icon-bars")
		div.fill-height(flex)
			h2.md-headline Inventory
md-content(layout="column" layout-padding md-scroll-y flex)
	p This is where you can view product inventories